{% extends "base.html" %}
{% load static %}

{% block title %}Остальные книги{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Остальные книги</h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{book.name}}</h2>
                    <p>Автор: {{book.author}}</p>
                    <p>Дата публикации: {{book.pub_date|date:'Y-m-d'}}</p>
                </div>
            {% endfor %}
        </div>
        <a href={% url 'books_filter' pub_date %}>Назад</a>
    </div>
{% endblock %}